<p id="notice"><%= notice %></p>

<p>
  <strong>Team Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @team.rank %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
